<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>

</head>
<body style ="background-color: paleturquoise">

<header>
    <div >
        <h1 style="color: whitesmoke; text-align: center; height:50px; background: darkcyan" > My Blog </h1>
        <a  href="home" style="text-align: left;padding:15px; float: left; text-decoration: none">Home</a></div>
        <button style="text-align: center;float: right "> <a style="text-decoration: none" href="create_post">Add Post </a></button>
    </div>

    <br><br>
     <br><br>
</header>

{%  block content %}

{% endblock %}



<footer >
    <div class="footer" style="position: fixed;left: 0;bottom: 0;width: 100%;background-color: darkcyan;color: white;text-align: center; ">
        <h3 >  by Arunkumar </h3>
    </div>
</footer>

</body>
</html>